mixin fullWidth(bgClass, textClass)
    div.pt-8.pb-12(class="full-width " + bgClass + " " + textClass)
        .main
            block

mixin myEmail(text)
    +mailto("hello", "shakeel.design", "", text)

mixin mailto(user, domain, subject, text)
    //- See: http://lists.evolt.org/archive/Week-of-Mon-20040202/154813.html
    span.mailto
        script(type="text/javascript").
            function gen_mail_to_link(lhs, rhs, subject, text) {
                const rhs_subj = subject ? `${rhs}?subject=${subject}` : rhs;
                const _txt = text ? text : `${lhs}@${rhs}`;
                const generated = `<a class="mailto" href="mailto:${lhs}@${rhs_subj}" target=_blank>${_txt}</a>`;
                document.write(generated);
            }
            gen_mail_to_link("#{user}", "#{domain}", "#{subject}", "#{text}")
