mixin fullWidth(bgClass, textClass)
    div(class="full-width block-full-width " + bgClass + " " + textClass)
        .main
            block

mixin myEmail(text)
    +mailto("hello", "shakeel.design", "", text)

mixin mailto(user, domain, subject, text)
    //- See: http://lists.evolt.org/archive/Week-of-Mon-20040202/154813.html
    span.mailto
        script(type="text/javascript").
            function gen_mail_to_link(lhs, rhs, subject, text) {
                const rhs_subj = subject ? `${rhs}?subject=${subject}` : rhs;
                const _txt = text ? text : `${lhs}@${rhs}`;
                const generated = `<a class="mailto" href="mailto:${lhs}@${rhs_subj}" target=_blank>${_txt}</a>`;
                document.write(generated);
            }
            gen_mail_to_link("#{user}", "#{domain}", "#{subject}", "#{text}")

//- TODO: featured content (projects or posts)
//- TODO: list of projects / blog posts; should be reusable

mixin gridCols2()
    div.block-grid-cols-2
        block

//- TODO: This should go away very soon, currently used on: projects, links - both need redesigns
mixin centeredPage()
    //-
    //- DO NOT TOUCH THIS FOR NOW!
    //- *** Blog posts are looking perfect on desktop. ***
    //- Other pages,not so much...
    //- Regular pages needs feel cohesive with the homepage
    //-
    div.centered-page.block-centered-page
        block


//- mixin footer()
//-     footer
//-         hr(class="md:invisible full-width")
//-         div.grow
//-             div(class="md:w-1/3")
//-                 p.bold.h2 Subscribe
//-                 +mailingListForm()
//-             div
//-                 p.bold.h2 Contact
//-                 +contact()

//- mixin contact()
//-     span.bold
//-         +myEmail()
//-     div
//-         - var numLinks = 0;
//-         each link, name in metadata.social
//-             -- ++numLinks
//-             span
//-                 a(class="social-link" href=link target="_blank") #{name} &nbsp;
//-                 if numLinks < (Object.keys(metadata.social).length)
//-                     | | &nbsp;
//-     br
//-     div
//-         p Designed and developed with ✨emotion✨.
//-         p
//-             script document.write("&copy; " + new Date().getFullYear() + " Shakeel Mohamed")

//- TODO: remix so blog listing can reuse part of this
//- TODO: use coverImg instead of openGraphImage please
mixin projectListing(project)
    div.block-project-listing
        a(href=project.url)
            img.portfolio-cover.block-project-cover(src=project.data.openGraphImage, alt="Cover image for " + project.data.title + " project", width="1200", height="630")
        div.block-project-copy
            div.block-project-title
                h2
                    a(href=project.url) #{project.data.title}
            //- TODO: need a max-width here so the lines aren't super long
            div.project-meta
                p.block-project-meta!= project.data.mediaLinks

//- TODO: design this component
mixin getPosts(recent=false)
    - var source = collections.recentPosts;
    if !recent
        - source = collections.post;
    ul.block-list-reset
        each post in source
            li.block-post-list-item
                div.block-post-list-date
                    p.block-nowrap #{post.data.cleanDate} &nbsp;
                div.block-post-list-content
                    p.block-post-title
                        a(href=post.url) #{post.data.title}
                    //- TODO: make tags clickable
                    p #{post.data.categories}

mixin featuredPost(post)
    div.block-featured-post
        a(href=post.url)
            //- TODO: Once I have beautiful cover images (not branded OG images), utilize those here
            //- img.portfolio-cover.w-full.pb-1(src=post.data.openGraphImage alt="Cover image for " + post.data.title)
            p.block-featured-title #{post.data.title}
        p #{post.data.description}
        //- p #{post.data.categories}


mixin getFeaturedPosts()
    //- TODO: this might be nice as a 4 column grid on desktop, once cover photos are nice
    +gridCols2()
        each post in collections.featured
            +featuredPost(post)

mixin getMentions(recent=false)
    - var source = mentions.recent;
    if !recent
        - source = mentions.all;
    .block-mentions-container
        if source.length > 0
            ul
            each mention in source
                li.block-mention-item
                    div.block-post-list-date
                        p.block-nowrap.block-text-left #{mention.date} &nbsp;
                    div.block-post-list-content
                        a(href=mention.url, class="block-link-strong" target="_blank") #{mention.title}
