//- TODO: remix so blog listing can reuse part of this
mixin projectListing(project)
    div.justify-self-auto.pb-8
        a(href=project.url)
            img.portfolio-cover.w-full(src=project.data.openGraphImage)
        .pt-2
            div(class="text-navy pb-0.5 text-2xl font-sans font-semibold")
                h2
                    a(href=project.url) #{project.data.title}
            //- TODO: need a max-width here so the lines aren't super long
            div.project-meta(class="md:w-1/2")
                if project.data.media
                    p
                        span.font-semibold Media:&nbsp;
                        | #{project.data.mediaString}
                p.leading-tight.font-sans #{project.data.description}.
                //- .flex.flex-wrap
                //-     div.mr-16
                //-         p.text-navy.leading-tight.font-sans Media: #{project.data.media}
                //-     div
                //-         p.text-navy.leading-tight.font-sans.w-full #{project.data.description}

//- mixin projectListing(project)
//-     div.justify-self-auto.pb-8
//-         a(href=project.url)
//-             img.portfolio-cover(src=project.data.openGraphImage)
//-         h3(class="text-navy pb-0.5")
//-             a(href=project.url) #{project.data.title}
//-         p.text-navy.leading-tight #{project.data.description}

//- TODO: this has been refactored away, delete once footer is final
mixin copyright()
    .mx-auto.text-center
        //- TODO: link this next paragraph to the project/blog page about the website itself
        p.caption.text-white Designed and developed with ✨emotion✨.
        p.caption.text-white
            script document.write("&copy; " + new Date().getFullYear() + " Shakeel Mohamed")
    

//- mixin projectSectionText()

//- mixin projectSectionTextBig()
    
//- mixin projectSectionSplit()
    
//- mixin projectSectionFullWidth()
//- images or videos most likely

//- TODO: design this component
mixin getPosts(recent=false)
    - var source = collections.recentPosts;
    if !recent
        - source = collections.post;
    each post in source
        .flex.place-content-between
            p.text-light-blue #{post.data.cleanDate}
            //- TODO: make tags clickable
            p.text-light-blue= "Tags: " +  post.data.categories
        a(href=post.url)
            p.subhead.text-navy #{post.data.title}

mixin getFeaturedPosts()
    each post in collections.featured
        a(href=post.url)
            h3.text-navy #{post.data.title}
        p.text-navy #{post.data.description}

mixin getMentions(recent=false)
    - var source = mentions.recent;
    if !recent
        - source = mentions.all;
    .prose.leading-tight
        ul
            each mention in source                
                li #{mention.date} – 
                    a(href=mention.url) #{mention.title}