include blocks.pug

//- TODO: there has to be a better way to do this...
mixin projectMeta(key, value)
    p
        span.bold #{key}:&nbsp;
        | #{(function(val){return String(val).charAt(0).toUpperCase() + String(val).slice(1);})(value)}

mixin caption(cap)
    if cap
        p.caption !{cap}


mixin portfolioImg(url, alt, cap)
    //- TODO: think about lightbox behavior, do I want a full gallery?
    //- what is the behavior for single images? need a unique id for each then...
    //- 
    //- Cargo just puts them all into one gallery... except for carousel images
    //- 
    //- Can do something similar to how sliders work w/ fullpath()
    
    .project-content
        +optimizedImage(url, alt, 'lightbox')
        +caption(cap)

mixin imgForSlider(url, alt, cap)
    .project-content
        +optimizedImage(url, alt, '')
        +caption(cap)

mixin slider()
    .project-slider
        block


//- TODO:
//- type specimen
//- p5.js sketch
//- old list...
//- full screen larger text, maybe a blockquote... thatline for inspo

//- TODO: move this CSS where it belongs
mixin inDesign(url, cap)
    .project-content
        iframe.video16by9(src=url frameborder="0" allowfullscreen="")
        +caption(cap)

mixin youtube(url, cap)
    .project-content
        iframe.video16by9(src=url title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="")
        +caption(cap)

mixin animation(url, cap)
    - var safeUrl = url || '';
    - var webmUrl = safeUrl.replace(/\.mp4$/i, '.webm');
    - var encodedMp4Url = safeUrl ? encodeURI(safeUrl) : '';
    - var encodedWebmUrl = safeUrl ? encodeURI(webmUrl) : '';
    .project-content
        video.video16by9(width="1920" height="1080" autoplay="" loop="" muted="" playsinline="" preload="metadata")
            source(src=encodedWebmUrl type="video/webm")
            source(src=encodedMp4Url type="video/mp4")
        +caption(cap)

//- TODO: play with plyr.io and skin the video player a bit nicer
mixin video(url, cap, autoplay=false)
    - var safeUrl = url || '';
    - var webmUrl = safeUrl.replace(/\.mp4$/i, '.webm');
    - var encodedMp4Url = safeUrl ? encodeURI(safeUrl) : '';
    - var encodedWebmUrl = safeUrl ? encodeURI(webmUrl) : '';
    .project-content
        video.video16by9(width="1920" height="1080" controls="" data-video="0" autoplay=autoplay)
            source(src=encodedWebmUrl type="video/webm")
            source(src=encodedMp4Url type="video/mp4")
        +caption(cap)


mixin fontTesterImports()
    <script type="text/javascript" src="/scripts/fontsampler/fontsampler.min.js"></script>
    <script src="/scripts/fontsampler/fontsampler-skin.js"></script>
    //- TODO: temporary patch for mobile to update values ondrag instead of onrelease
    <script src="/scripts/fontsampler/fontsampler-patch.js"></script>
    <link rel="stylesheet" href="/scripts/fontsampler/fontsampler-skin.min.css">

//- mixin fontTester()
//-     

//- TODO: mobile wrap issues here
mixin projectBreadcrumb(proj, direction)
    - var modifierClass = direction == "Next" ? "is-next" : "is-prev";
    - var arrow_symbol = direction == "Next" ? "arrow_forward" : "arrow_back";

    div
        a(href=proj.url)
            p.bold.project-breadcrumb-title(class=modifierClass)
                if direction == "Next"
                    | #{proj.data.title} &nbsp;
                    span.material-icons.project-breadcrumb-icon #{arrow_symbol}
                else
                    span.material-icons.project-breadcrumb-icon #{arrow_symbol}
                    | &nbsp; #{proj.data.title}
            p.caption.desktop-only.project-breadcrumb-caption(class=modifierClass) #{proj.data.mediaString}

mixin prevProject(proj)
    +projectBreadcrumb(proj, "Previous")

mixin nextProject(proj)
    +projectBreadcrumb(proj, "Next")