//- TODO: there has to be a better way to do this...
mixin projectMeta(key, value)
    p
        span.bold #{key}:&nbsp;
        | #{(function(val){return String(val).charAt(0).toUpperCase() + String(val).slice(1);})(value)}

mixin caption(cap)
    if cap
        p.caption !{cap}

mixin portfolioImg(url, alt, cap)
    //- TODO: think about lightbox behavior, do I want a full gallery?
    //- what is the behavior for single images? need a unique id for each then...
    //- 
    //- Cargo just puts them all into one gallery... except for carousel images
    //- 
    //- Can do something similar to how sliders work w/ fullpath()
    
    if url
        .project-content
            img.lightbox(src=url, alt=alt)
            +caption(cap)

mixin imgForSlider(url, alt, cap)
    .project-content
        img(src=url, alt=alt)
        +caption(cap)

mixin slider()
    .project-slider
        block


//- TODO:
//- type specimen
//- p5.js sketch
//- old list...
//- full screen larger text, maybe a blockquote... thatline for inspo

//- TODO: move this CSS where it belongs
mixin inDesign(url, cap)
    .project-content
        iframe.video16by9(src=url frameborder="0" allowfullscreen="")
        +caption(cap)

mixin youtube(url, cap)
    .project-content
        iframe.video16by9(src=url title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="")
        +caption(cap)

mixin video(url, cap, autoplay=false)
    .project-content
        video.video16by9(width="1920" height="1080" controls="" data-video="0" autoplay=autoplay)
            source(src=url type="video/mp4")
        +caption(cap)


mixin fontTesterImports()
    <script type="text/javascript" src="/scripts/fontsampler.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fontsampler-js@0.1.4/dist/fontsampler-skin.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontsampler-js@0.1.4/dist/fontsampler-skin.min.css">

//- mixin fontTester()
//-     

mixin projectBreadcrumb(proj, direction)
    - var align = direction == "Next" ? "right" : "left";
    - var arrow_symbol = direction == "Next" ? "arrow_forward" : "arrow_back";

    div
        a(href=proj.url)
            p.bold(style="text-align:"+align+";")
                if direction == "Next"
                    | #{proj.data.title} &nbsp;
                    span.material-icons(style="vertical-align: text-bottom;") #{arrow_symbol}
                else
                    span.material-icons(style="vertical-align: text-bottom;") #{arrow_symbol}
                    | &nbsp; #{proj.data.title}
            //- TODO: better css compositing, the max-width is 50% on .caption
            p.caption(style="text-align:"+align+"; max-width: 100%;") #{proj.data.mediaString}

mixin prevProject(proj)
    +projectBreadcrumb(proj, "Previous")

mixin nextProject(proj)
    +projectBreadcrumb(proj, "Next")