extends ./super.pug

block body
    +headernew()
    main.mb-4
        block content
        hr(style="margin-bottom:0 !important;")
    +footernew()

//- TODO: mobile footer
//- TODO: eventually cleanup to use header and footer tags

mixin headernew()
    .mobile-only.mobileHeader
        .grid-2(style="flex-direction: row; justify-content: space-between;")
            //- TODO: logo sizing is WIP, find a better way to match the height of 2 header lines
            div
                div.mobileBranding
                    a.logo-wrapper(href="/")
                        <img src="/img/Shakeel_Mohamed_wordmark.svg" alt="Shakeel Mohamed wordmark logo set in the Mindful Roman typeface which he designed" />
                    br
                    strong
                        a(href="mailto:" + metadata.author.email, target="_blank") #{metadata.author.email}
            div.hamburgerIcon
                span.material-icons(style="font-size: 2rem;") menu
        .menuItems
            h2
                a(href="/") Work
            h2
                a(href="/projects/thesis") Thesis
            h2
                a(href="/labyrinth") Experiments
            h2
                a(href="/about") About
            br
            h2
                a(href="mailto:" + metadata.author.email, target="_blank") #{metadata.author.email}
        hr.mobile-only
    div.newheader.sticky.top-0
        .grid-4
            div
                //- TODO: logo sizing is WIP, find a better way to match the height of 2 header lines
                .logo-wrapper
                    a(href="/")
                        img.logosvg(src="/img/Shakeel_Mohamed_wordmark.svg" alt="Shakeel Mohamed wordmark logo set in the Mindful Roman typeface which he designed")
            //- div
            //-     br
            //-     p
            //-         strong Graphic Designer:&nbsp;
            //-         | Branding, typography, leadership
            div.
            div
                div.pb-4
                    p
                        strong Graphic Designer:&nbsp;
                        | Branding, typography, leadership
                div
                    //- TODO: how can I avoid breaking between the icon and word?
                    //- TODO: can add a blog link here after grad + seeings 3-4 new posts
                    p
                        strong
                            a(href="/projects" style="margin-right: 4rem;")
                                span.material-icons(style="font-size: 1rem; padding-right: 0.25rem;") public
                                | Work
                            | &nbsp;
                            a(href="/labyrinth")
                                span.material-icons(style="font-size: 1rem; padding-right: 0.25rem;") swap_calls
                                | Experiments
                        
            div(style="text-align:right;")
                div.pb-4
                    p
                        strong
                            a(href="mailto:" + metadata.author.email, target="_blank") #{metadata.author.email}
                div
                    p
                        strong
                            a(href="/about") About
        hr(style="margin-bottom: 0.5rem;")
        //- div(style="grid-column: 3 / 5;")
        //-     .grid-2(style="margin-bottom:0;")
        //-         div
        //-             div
        //-                 strong
        //-                     a(href="/projects") Work
        //-             div
        //-                 strong
        //-                     a(href="/labyrinth") Experiments
        //-         div(style="text-align:right;")
        //-             div
        //-                 strong
        //-                     a(href="mailto:" + metadata.author.email, target="_blank") #{metadata.author.email}
        //-             div
        //-                 strong
        //-                     a(href="/about") About
        //- div(style="grid-column: 3 / 5;")
        //-     .grid-2(style="margin-bottom:0;")
        //-         div
        //-             strong
        //-                 a(href="/labyrinth") Experiments
        //-         div(style="text-align:right;")
        //-             div
        //-                 strong
        //-                     a(href="mailto:" + metadata.author.email, target="_blank") #{metadata.author.email}
        //-             div
        //-                 strong
        //-                     a(href="/about") About
        //-     .grid-1
        //-         p
        //-             //- TODO: thesis should become a project soon
        //-             //- a(href="/projects/thesis") Thesis
        //-             strong Work:&nbsp;
        //-             each project in collections.portfolio
        //-                 span
        //-                     a(href=project.url) #{project.data.short}
        //-                 span ,&nbsp;
        //-             span
        //-                 a(href="/projects/thesis") Thesis

//- TODO: bring back +mailingListForm()
//- TODO: bring back Designed and developed with ✨emotion✨.

mixin footernew()
    .newfooter.grid-4(style="padding-bottom: 0 !important;")
        div
            br.mobile-only
            a.logo-wrapper(href="/")
                script document.write("&copy; " + new Date().getFullYear() + " Shakeel Mohamed.")
        div
            a(href=metadata.social.Instagram, target="_blank") Instagram
        div
            a(href=metadata.social.LinkedIn, target="_blank") LinkedIn
        div(style="text-align:right;")
            a(href="mailto:" + metadata.author.email, target="_blank") #{metadata.author.email}