extends ./super.pug

block body
    +headernew()
    main.my-4
        block content
    +footernew()

//- TODO: mobile footer
//- TODO: eventually cleanup to use header and footer tags

mixin headernew()
    .mobile-only.mobileHeader
        .grid-2(style="flex-direction: row; justify-content: space-between;")
            //- TODO: logo sizing is WIP, find a better way to match the height of 2 header lines
            div
                div.mobileBranding
                    a.logo-wrapper(href="/")
                        <img src="/img/Shakeel_Mohamed_wordmark.svg" alt="Shakeel Mohamed wordmark logo set in the Mindful Roman typeface which he designed" />
                    br
                    strong
                        a(href="mailto:" + metadata.author.email, target="_blank") #{metadata.author.email}
            div.hamburgerIcon
                span.material-icons(style="font-size: 2rem;") menu
        .menuItems
            h2
                a(href="/") Work
            h2
                a(href="/projects/thesis") Thesis
            h2
                a(href="/labyrinth") Labyrinth
            h2
                a(href="/about") About
            br
            h2
                a(href="mailto:" + metadata.author.email, target="_blank") #{metadata.author.email}
        hr.mobile-only
    div.newheader.grid-4
        div
            //- TODO: logo sizing is WIP, find a better way to match the height of 2 header lines
            .logo-wrapper
                a(href="/")
                    img.logosvg(src="/img/Shakeel_Mohamed_wordmark.svg" alt="Shakeel Mohamed wordmark logo set in the Mindful Roman typeface which he designed")
        //- spacer div
        div.
        div
            div
                a(href="/projects/thesis") Thesis
            div
                a(href="/labyrinth") Labyrinth
        div
            div
                a(href="mailto:#{metadata.author.email}" target="_blank") #{metadata.author.email}
            div
                a(href="/about") About

//- TODO: bring back +mailingListForm()
//- TODO: bring back Designed and developed with ✨emotion✨.

mixin footernew()
    .newfooter.grid-4
        div(style="font-weight: normal;")
            hr.mobile-only
            script document.write("&copy; " + new Date().getFullYear() + " Shakeel Mohamed.")
        div
            a(href="#{metadata.social.Instagram}" target="_blank") Instagram
        div
            a(href="#{metadata.social.LinkedIn}" target="_blank") LinkedIn
        div
            a(href="mailto:#{metadata.author.email}" target="_blank") #{metadata.author.email}