include ../atoms.pug
include ../organisms.pug
include ../type.pug

if !pageTitle
    if title
        - pageTitle = title
    else
        - pageTitle = "Shakeel Mohamed – Design Portfolio";

doctype html
html(lang="en")
    head
        title #{pageTitle}

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content=description)
        //- opengraph
        //- TODO: dynamic og:url with full permalink
        //- meta(property="og:url" content=page.url)
        meta(property="og:title" content=pageTitle)
        //- meta(property="og:image" content=pageImg)
        meta(property="og:description" content=description)
        meta(property="twitter:card" content="summary_large_image")
        meta(property="twitter:creator" content="@_Shakeel")
        
        //- TODO: canonical link

        link(rel="stylesheet" href="https://use.typekit.net/uun0nut.css")
        link(href="/dist/tailwind.css" rel="stylesheet")
        //- link(rel="preconnect" href="https://fonts.googleapis.com")
        //- link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        
        //- TODO: open graph via block?
        //- see https://iamjoona.com/blog/seo-tags-in-eleventy/
        //- TODO: favicon(s)
        //- TODO: sitemap
    //- TODO: remove debug-screens for production
    body(class="bg-navy debug-screens")
        +header()
        main
            +container()
                +gridWithBigColumn()
                    block hero
            block content
        +footer()
    script(src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous")
    script.
        twemoji.parse(document.body);
