extends ./super.pug

block body
    +headernew()
    main.my-4
        block content
    +footernew()

//- TODO: mobile header
//- TODO: mobile footer

mixin headernew()
    div.newheader.grid-4
        //- TODO: logo here
        <div>
            <div><a href="/">Shakeel Mohamed</a></div>
        </div>
        <div>
        </div>
        <div>
            <div><a href="/thesis">Thesis</a></div>
            <div><a href="/labyrinth">Labyrinth</a></div>
        </div>
        <div>
            <div><a href="mailto:#{metadata.author.email}" target=_blank>#{metadata.author.email}</a></div>
            <div><a href="/about">About</a></div>
        </div>

//- TODO: bring back +mailingListForm()

mixin footernew()
    div.newfooter.grid-4
        div
            script document.write("&copy; " + new Date().getFullYear() + " Shakeel Mohamed.")
        <div>
            <div><a href="#{metadata.social.Instagram}" target=_blank>Instagram</a></div>
        </div>
        <div>
            <div><a href="#{metadata.social.LinkedIn}" target=_blank>LinkedIn</a></div>
        </div>
        <div>
            <div><a href="mailto:#{metadata.author.email}" target=_blank>#{metadata.author.email}</a></div>
        </div>