extends ./base.pug

block hero
    div
        //- TODO: all the metadata can go here; TBD
        //- e.g.: date, medium, role, team members
        h1.text-navy #{title}
        p.subhead #{tagline}
        div.project-meta
            if media
                +projectMeta("Media", mediaString)
            +projectMeta("When", when)
            +projectMeta("Client", client)
            +projectMeta("Tools", tools)
            +projectMeta("Goal", goal)
    div
        img(src=openGraphImage)


//- TODO: design all possible layouts for a project
//- full screen image
//- half text / half image
//- full screen text

//- TODO: this text-base will probably break any headings, ditto for font-serif
block content
    div!= content

//- TODO: move this somewhere else... maybe
mixin projectMeta(key, value)
    p
        span.font-semibold #{key}:&nbsp;
        | #{value}