extends ./base.pug

block content
    h1 #{title}
    p.subhead #{tagline}
    //- TODO: all the metadata can go here; TBD
    //- e.g.: role, team members
    div.project-meta
        if media
            +projectMeta("Media", mediaString)
        +projectMeta("When", when)
        +projectMeta("Client", client)
        +projectMeta("Tools", tools)
        +projectMeta("Goal", goal)
    img.w-full.py-2(src=openGraphImage)
    div!= content


//- TODO: design all possible layouts for a project
//- full screen larger text, maybe a blockquote... thatline for inspo

mixin projectMeta(key, value)
    p
        span.bold #{key}:&nbsp;
        | #{value}