extends ./base.pug

//- TODO: redesign me to match cargo

block content
    .grid-1
        h1 #{title}
        p.subhead #{tagline}
    .grid-2
        //- TODO: all the metadata can go here; TBD
        //- e.g.: role, team members
        div
            div.project-meta
                if media
                    +projectMeta("Media", mediaString)
                //- +projectMeta("When", when)
                //- +projectMeta("Client", client)
                +projectMeta("Tools", tools)
                +projectMeta("Goal", goal)
            p TODO: overview here
        div
             p TODO: audience here
             p TODO: solution here
        //- TODO: I don’t always want this... the fallback is the site’s OG image, yikes!
        //- img.w-full.py-2(src=openGraphImage)
    div!= content


//- TODO: design all possible layouts for a project
//- full screen larger text, maybe a blockquote... thatline for inspo

mixin projectMeta(key, value)
    p
        span.bold #{key}:&nbsp;
        | #{value}