---
title: Shakeel Mohamed – About
description: Shakeel Mohamed is a Graphic Designer in Los Angeles, specializing in branding, typography and leadership. He holds an MFA in Graphic Design from ArtCenter College of Design.
---

extends ../_includes/layouts/base.pug
include ../_includes/molecules.pug
//- TODO: resume... think about JSON model?
//-     COULD just be a list for now

//- TODO: Maybe a separate services page?

block content
    .grid-4.mt-4
        //- TODO: this will overflow x on tablet scale
        div.headshot
            img.lightbox(src="../img/Shakeel_Mohamed_headshot.png" alt="Headshot of Shakeel Mohamed")
        div
            p
                strong I think inside, outside, and about the box itself.
        div(style="grid-column: 3 / 5;")
            p I thrive at the intersection of cultures, translating across perspectives to discover new ideas. My elementary school was on a Native American reservation where I was “the other Indian.” Early in life, I understood the nuances of personal identity which primed me for my second career in graphic&nbsp;design.
            br
            p The pursuit of mastery fuels everything I do. As a software engineer, I didn’t just write code; I crafted it to be efficient and elegantly formatted, making it intuitive for other developers. This attention to typography is now at the heart of my practice as a designer. My creative process is a synthesis of research, conversational insights, strategy, and empathy to connect with my&nbsp;audience.
            br
            p Available starting June 2025 for freelance or full-time opportunities on-site in Los Angeles or&nbsp;remote.
            br
            p
                | Please reach out by 
                strong
                    +myEmail("email")
                    | ,&nbsp;
                strong
                    a(href=metadata.social.LinkedIn, target="_blank") LinkedIn, 
                | or 
                strong
                    a(href=metadata.social.Instagram, target="_blank") Instagram
                | .
            br
            p
                strong
                    a(href="./Shakeel_Mohamed_resume.pdf" target="_blank") View my résumé here.
            hr.mobile-only

    .grid-4.mt-4
        div
            p
                strong
                    |“The best way to predict the future is to create it.”
                br
                |— Peter Drucker (attributed)
            br
            p
                strong I’m inspired by
            ol(style="padding-left: 3rem;")
                li Underdogs
                li Walking
                li Conversations
                li Music
                li Warmth
            br
            p
                strong Reminders to myself
            ol(style="padding-left: 3rem;")
                li Focus intensely, rest completely.
                li Take more (design) risks.
                li Explore more ideas than required.
                li Design is a spiritual practice.
                li When in doubt, talk it out.
            br
        div
            p
                strong Community Building
                br
                | I have dedicated the past four years to involving myself in design communities, sharing my experiences with others, and building towards design leadership experience. Over this time I’m grateful to have met several designers who have inspired me throughout my&nbsp;career.
        //- TODO: bring in Sean Adams img here instead
        div(style="grid-column: 3 / 5;")
            .grid-4.lightbox-album.keepDesktop(style="gap: 1rem;")
                img(src="./img/Debbie_Millman.png")
                img(src="./img/Wael_Morcos.png")
                img(src="./img/Brian_Collins.png")
                img(src="./img/Louise_Sandhaus.png")
                img(src="./img/Chris_Do.png")
                img(src="./img/April_Greiman.png")
                img(src="./img/Cheryl_Miller.png")
                img(src="./img/Iddris_Sandu.png")
    br
    hr

    .grid-4
        div
            p.caption Education
            br
            +experience("Master of Fine Arts in Graphic Design", "ArtCenter College of Design", "Pasadena, California", "2022–2025")
            br.mobile-only
            +experience("Bachelor of Science in Computer Science (Emphasis in Business)", "Seattle University", "Seattle, Washington", "2012–2015")
            hr.mobile-only
        div(style="grid-column: 2 / 5;")
            p.caption Experience
            br
            .grid-3.position
                a(href="/projects/salgirah-festival-identity/")
                    +experience("Freelance Graphic Designer (Annually)", "The Ismaili Muslim Community", "Remote", "10.2021–10.2024")
                //- TODO: add link to Salgirah project page
                p(style="grid-column: 2 / 4;") Designed the brand identity for Salgirah, an annual international religious festival across 21 countries in 11 languages. Branded signage was displayed in multiple cities, notably at the Dubai World Trade Centre in 2021.
            .grid-3.position
                +experience("Freelance Graphic Designer", "TALISMAN", "Remote", "07.2024–08.2024")
                p(style="grid-column: 2 / 4;") Supported a team of three designers with identity development for clients in a variety of industries including higher education and performing arts. Designed presentation decks, style guidelines, and press ready files. Analyzed, refined, and presented typographic choices to align with overall art&nbsp;direction.
            .grid-3.position
                +experience("Founder", "ntrsct designs", "Remote", "02.2018–12.2022")
                p(style="grid-column: 2 / 4;") Operated an independent design studio offering branding, strategy, apparel, and social media design services. Designed deliverables for 12 clients, exploring a variety of visual solutions. Evolved from operating as a B2C apparel brand to providing B2B design services across multiple industries.
            .grid-3.position
                +experience("Software Engineer", "Splunk, Inc.", "Seattle, Washington", "06.2015–04.2021")
                p(style="grid-column: 2 / 4;") Led a team of three engineers to develop a data simulation engine for sales staff to demo products to prospective customers. Frequently collaborated across roles, teams, and departments to automate manual tasks. Presented technical sessions and hosted interactive booths at two conferences.
            hr.mobile-only
    hr.desktop-only

    .grid-4
        div
            p.caption Skills
            br
            p
                strong Strong working knowledge of:
                br
                | Illustrator, InDesign, Figma, Premiere Pro, Keynote, Glyphs, After Effects
            br
            p
                strong Familiar with:
                br
                | Photoshop, Blender, Midjourney, TouchDesigner, MadMapper, LiveSurface, Artivive, Basecamp, Trello, Jira, Google Workspace, Dropbox, Slack
            br
            p
                strong Presentation and facilitation:
                br
                | Strategic thinking, collaboration, copywriting, product management, project management, community building, agile facilitation, and scrum
            br
            p
                strong Programming:
                br
                | JavaScript, p5.js, Node.js, HTML, CSS, Python, Java, C, C++, Git
            hr.mobile-only
        div.
        div
            p.caption Recognition
            br
            p
                strong AIGA Los Angeles Graphic Content Conference&nbsp;Speaker
                br
                | Deconstructing “Best”: Redefining Success for&nbsp;Designers
                br
                | 2024
            br
            p
                a.underline(href="https://voyagela.com/interview/daily-inspiration-meet-shakeel-mohamed/" target="_blank")
                    strong
                        i Voyage LA Magazine 
                        | Interview
                br
                | 2024
            br
            p
                strong Type Thursday Los Angeles
                br
                | Presented my TYPO Mexico City branding project to 30&nbsp;designers.
                br
                | 2023
            br
            p
                a.underline(href="https://youtu.be/HtRtGYQx480" target="_blank")
                    strong AIGA Portfolio Festival
                br
                | Virtual portfolio presentation to a live&nbsp;audience.
                br
                | 2022


            //- TODO: not having this here is a lil odd... but we have a rule right below otherwise
            //- hr.mobile-only

    //- TODO: bring this back later when it makes sense, not right now.
    //- if mentions.recent.length > 0
    //-     br        
    //-     h2 Recognition
    //-     .grid-2
    //-         +getMentions(true)
    //-     p.bold See the&nbsp;
    //-         a(href="/mentions") full list here.

    //- TODO: show grid of presentations - maybe document AIGA LA Graphic Content too
    //- TOOD: can include thumbnails to presentations (AIGA PF, AIGA LA Graphic Content, etc)

mixin experience(title, org, loc, dates)
    div
        p
            strong #{title}
            br
            | #{org}
            br
            | #{loc}
            br
            | #{dates}
        br.desktop-only