//- include ../atoms.pug
include ../../_includes/organisms.pug
//- include ../type.pug


//- TODO: Move this into atomic design file structure
mixin getRandomLogo(size=50)
    script getRandomLogo(#{size})

mixin headerLogo()
    div(class="text-navy freight-book-it text-4xl text-center py-4 flex-nowrap md:text-left")
        a(href="/") Shakeel Mohamed

mixin navItem(href, label)
    a(class="font-sans font-medium text-navy md:inline-block md:ml-8" href=href) #{label}

mixin header()
    //- TODO: layout breaks below 320px width
    //- header(class="text-navy max-w-screen-xl mx-auto px-8 md:flex md:items-baseline md:justify-between")
    header(class="text-navy mx-auto px-8 md:flex md:items-baseline md:justify-between")
        +headerLogo()
        nav(class="flex justify-between text-lg mx-4 md:py-5 md:justify-items-end md:flex-shrink-0 md:mx-0")
            +navItem("/", "Work")
            +navItem("/blog", "Blog")
            +navItem("/about", "About")
            +navItem("/contact", "Contact")

mixin hero()
    div(class="px-8 mt-10 mb-5 xl:mt-20 xl:mb-10")
        //- +container()
        //-     +gridWithBigColumn()
        block

mixin footerNavItem(href, label)
    li
        a.subhead(href=href) #{label}

mixin footer()
    div(class="px-8 grid grid-cols-2 md:grid-cols-4")
        div(class="col-span-1")
            p.text-navy.font-sans Subscribe
            +mailingListForm()
        - var numLinks = 0;
        div(class="col-span-1")
            p.text-navy.font-sans Contact
            .text-navy contact@shakeelmohamed.com
            .text-navy
                each link, name in metadata.social
                    -- ++numLinks
                    if name == "GitHub"
                        - continue
                    span
                        a(href=link) #{name} &nbsp;
                        if numLinks < (Object.keys(metadata.social).length - 1)
                            | | &nbsp;
        div(class="col-span-2")
            div(class="md:float-right")
                //- TODO: link this next paragraph to the project/blog page about the website itself
                p.caption.text-navy.text-semibold Designed and developed with✨emotion✨.
                p.caption.text-navy
                    script document.write("&copy; " + new Date().getFullYear() + " Shakeel Mohamed")    

//- TODO: Move above into atomic design file structure

if !pageTitle
    if title
        - pageTitle = title
    else
        - pageTitle = "Shakeel Mohamed – Design Portfolio";

if !openGraphImage
    - openGraphImage = "/img/opengraph - default.png"

doctype html
html(lang="en")
    head
        title #{pageTitle}

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content=description)
        
        //- opengraph
        meta(property="og:url" content=metadata.baseurl + page.url)
        meta(property="og:title" content=pageTitle)
        meta(property="og:image" content=metadata.baseurl + openGraphImage)
        //- TODO: open graph image for whatsapp
        meta(property="og:description" content=description)
        if layout == "post"
            meta(property="og:type" content="article")
            meta(property="og:article:published_time" content=cleanDate)
            meta(property="og:article:author" content=metadata.author.name)
            each tag in categoriesList
                meta(property="og:article:tag" content=tag)
        else
            meta(property="og:type" content="website")
        meta(property="twitter:card" content="summary_large_image")
        meta(property="twitter:creator" content="@_Shakeel")
        
        if canonical
            link(href=metadata.baseurl + canonical, rel="canonical")
        else
            link(href=metadata.baseurl + page.url, rel="canonical")

        link(rel="stylesheet" href="https://use.typekit.net/uun0nut.css")
        link(href="/dist/tailwind.css" rel="stylesheet")
        //- TODO: will need google fonts for Inter
        //- link(rel="preconnect" href="https://fonts.googleapis.com")
        //- link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        
        link(rel="sitemap" type="text/plain" title="Sitemap" href="/sitemap.txt")
        //- TODO: uncomment once XML sitemap is ready
        //- link(rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml")
        link(href="./feed.xml" rel="alternate" type="application/rss+xml" title="Shakeel Mohamed's blog posts")

        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")

        script(src="/scripts/main.js")
    //- TODO: remove debug-screens for production
    //- body(class="bg-navy debug-screens")
    body(class="bg-white")
        +header()
        main
            +hero()
                block hero
            block content
        +footer()
    script(src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous")
    //- TODO: could optimize twemoji by pulling it at build time
    script.
        twemoji.parse(document.body);
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-36907845-2")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-36907845-2');
