---
title: About – Shakeel Mohamed
description: I’m a self-taught designer, born and raised in the greater Seattle area.
---

extends _includes/layouts/base.pug
include _includes/molecules.pug

//- TODO: this entire page has WIP copy

block hero
    h1.text-white About me 🙋🏻‍♂️ 
    p.subhead.text-white My pronouns are he/him.
    p.subhead.text-white I’m the former software engineer who thought like a designer his whole career.

mixin bio()
    div(class="prose")
        img(src="/img/headshot.jpg" alt="Shakeel Mohamed headshot" class="w-1/3 rounded-full")
        //- TODO: something about career transition here
        :markdown-it(html=true)
            I’m a self-taught designer, born and raised in the greater Seattle area.

            As someone who never quite fit in, I’ve always been curious about how labels shape our identities. These are a few of my labels: ISTJ, capricon, introvered, type A, Ismaili Muslim, Gujarati, first-generation American.

            I’m inspired by peak performances whether it’s Michael Jordan in the NBA finals, or The Weeknd performing at the Super Bowl halftime show.

            I spend my free time volunteering with [the Ismaili Muslim community](https://the.ismaili/) on various (sometimes creative) projects.

            I’m currently applying to graduate school MFA programs in graphic design while running my independent design business, [ntrsct (in•ter•sect) designs](https://ntrsct.com).

mixin mentionList()
    h3.text-navy Mentions
    p.subheading These are some things I've done or what people have said about me
    .prose.leading-tight
        ul
            each mention in mentions
                li #{mention.date} – 
                    a(href=mention.url) #{mention.title}


block content
    +sectionWhite()
        //- TODO: add at least 1 photo on this page
        +gridWithBigColumn()
            +bio()
    +sectionOrange() 
        +gridWithBigColumn()
            h2.text-navy My Principles
            p.text-navy This is my approach to any situation, personally or professionally. This is the unique contribution I bring to the world.

            -
                var manifesto = {
                   "Outwork deficiencies": "Any weakness can be overcome with great effort.",
                   "Create the future": "Start with the end in mind, work towards the plan, adjust as needed.",
                   "Seek growth constantly": "Knowledge is power, so learn from the greats; success leaves clues.",
                   "Enable understanding through transparency": "Use clear & direct communication, translate if necessary.",
                   "Think from a unique perspective": "Think inside, outside, and about the box itself."
                };
            each details, name in manifesto
                h3.text-white #{name}
                p.text-navy #{details}
    
    +sectionWhite()
        +gridWithBigColumn()
            +mentionList()

//- TODO: CTA for contact me for projects, or something?