---
description: Shakeel Mohamed is a Graphic Design MFA Candidate at ArtCenter College of Design.
---

extends _includes/layouts/base.pug

//- TODO: logo in header
//- TODO: S logo in favicon set

block content
    .grid-2
        div
            p
                strong Graphic Designer:&nbsp;
                | Branding, Typography, Leadership
        div
            p
                | Hello, I’m Shakeel, I’m a designer who thinks inside, outside, and about the box itself.
                br
                br
                | Available starting April 2025 for opportunities in Los Angeles or remote.
                br
                | Please reach out by 
                strong
                    a(href="mailto:#{metadata.author.email}" target=_blank) email, 
                strong
                    a(href="#{metadata.social.LinkedIn}" target=_blank) LinkedIn, 
                | or 
                strong
                    a(href="#{metadata.social.Instagram}" target=_blank) Instagram
                | &nbsp;.

    //- TODO: rework this to collections.home or something; goal is to have multiple blocks of content.
    //- could be projects, videos, bio, etc.
    
    if collections.portfolio
        .grid-2
            each project in collections.portfolio
                +projectListing(project)