---
permalink: "/feed.xml"
dynamicPermalink: false
eleventyExcludeFromCollections: true
title: "Shakeel Mohamed's blog posts"
description: "Recent blog posts from Shakeel Mohamed, designer & brand strategist based in Seattle"
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>#{title}</title>
  <subtitle>#{description}</subtitle>
  <link href="#{metadata.baseurl + permalink}" rel="self"/>
  <link href="#{metadata.baseurl}"/>
  //- <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  //- see https://github.com/11ty/eleventy-plugin-rss/blob/master/src/getNewestCollectionItemDate.js
  //- TODO: use a real non-hardcoded updated date, based on latest updated date
  <updated>2021-09-08T00:00:00Z</updated>
  <id>#{metadata.baseurl}/</id>
  <author>
    <name>#{metadata.author.name}</name>
    <email>#{metadata.author.email}</email>
  </author>
  each post in collections.post
    <entry>
      <title>#{post.data.title}</title>
      <link href="#{metadata.baseurl + post.url}"/>
      <updated>#{post.data.sitemapDate}</updated>
      <id>#{metadata.baseurl + post.url}</id>
      <summary type="text">#{post.data.description}</summary>
    </entry>
</feed>